streamlit==1.32.2
pandas
plotly
matplotlib
seaborn
wordcloud
huggingface_hub>=0.10.0
plotly
scikit-learn
python-dotenv

streamlit
pandas
plotly
matplotlib
seaborn
wordcloud
huggingface_hub
transformers>=4.44.2
torch>=2.0.0
scikit-learn
python-dotenv
